
        * {
            box-sizing: border-box;
        }

        body {
            width: 80%;
            margin: 50px auto;
            font-family: sans-serif;
            font-size: 10px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .container > div {
            margin: 10px;
            padding: 20px;
            width: 23%;
            text-align: center;
            border: 1px black solid;
        }

        .items {
            height: 250px;
        }

        .title {
            font-size: 14px;
        }

       